
:host {
    text-align: center;
}

.item {
    border-bottom: 1px solid rgb(66,66,66);
    //color: white;
    &.disabled {
        color: gray;
        /*
        &:hover {
            background-color: inherit;
            cursor: inherit;
        }
        */
    }
    /*
    &:hover {
        background-color: rgb(66,66,66);
        cursor: pointer;
    }
    */
}
.item-button {
    min-width: 40px;
    width: 40px;
    padding: 0;
}
.is-active {
    color: skyblue;
}

.item-* {
    margin: 2.5px
}
.item-icon {
    width: 10%;
}
.item-icon-button {
    width: 10%;
    cursor: pointer
}
.item-name {
    width: 50%;
}
.item-start-time {
    width: 10%;
}
.item-times {
    width: 30%;
}