<div *ngIf="connecting">
    connexion...
</div>
<section class="content" *ngIf="isReady">
    <mat-list>
        <mat-list-item *ngFor="let seq of sequences"
            class="item">
            <button mat-raised-button class="item-button" (click)="editClicked(seq)">
                <i *ngIf="!canEdit(seq)" class="material-icons is-active">visibility</i>
                <i *ngIf="canEdit(seq)" class="material-icons">create</i>
            </button>
            <span class="item-name">{{seq.name}}</span>
            <span class="item-start-time">{{seq.startTime}}</span>
            <span class="item-times">
                {{seq.cycleSeconds|secondsToHMM}}
                x {{seq.repeat}}
            </span>
            <span *ngIf="!canDelete(seq)"  class="item-button">
            </span>
            <button mat-raised-button *ngIf="canDelete(seq)" class="item-button" 
                (click)="deleteClicked(seq)">
                <i class="material-icons">delete</i>
            </button>
        </mat-list-item>
    </mat-list>
</section>
<footer *ngIf="isReady">
    <mat-dialog-actions class="footer">
        <button mat-raised-button (click)="addClicked()">Ajouter une séquence</button>
    </mat-dialog-actions>
</footer>