<div *ngIf="connecting">
    connexion...
</div>
<header *ngIf="isReady">
    <div *ngIf="usingMaster">
        <mat-form-field class="select-master">
            <mat-select matInput [(ngModel)]="master" placeholder="master"
                (ngModelChange)="masterChanged($event)">
                <mat-option *ngFor="let d of devices" [value]="d" [disabled]="d.isDead">{{ d.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button disableRipple class="master-switch"
            [ngClass]="{
                'device-state-on': master?.state===true, 
                'device-state-off': master?.state===false,
                'device-state-unknown': master?.state==undefined
            }"
            (click)="toggleState(master, true)"
            [disabled]="!master || master.isDead">
            {{ master?.state ? 'on' : 'off' }} 
        </button>
    </div>
    <mat-checkbox [(ngModel)]="singleActive">un seul actif</mat-checkbox>
</header>
<section class="content" *ngIf="isReady">
    <mat-table class="items-table" [dataSource]="datasource">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let it"> {{ it.id }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
            <mat-cell *matCellDef="let it" class="device-name"> {{it.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="dead">
            <mat-header-cell *matHeaderCellDef> désactivé </mat-header-cell>
            <mat-cell *matCellDef="let it"> 
                <mat-checkbox [(ngModel)]="it.isDead" (change)="setDeviceDead(it)"></mat-checkbox>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="onOff">
            <mat-header-cell *matHeaderCellDef> on/off </mat-header-cell>
            <mat-cell *matCellDef="let it"> 
                <button mat-raised-button disableRipple
                [ngClass]="{
                    'device-state-on': it.state===true, 
                    'device-state-off': it.state===false,
                    'device-state-unknown': it.state==undefined
                }"
                    (click)="toggleState(it)"
                    [disabled]="it.isDead">
                {{ it.state ? 'on' : 'off' }} 
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <div class="rows-container">
            <mat-row *matRowDef="let item; columns: columnsToDisplay"></mat-row>
        </div>
    </mat-table>
</section>