:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.content {
    flex: 1 1 100%;
    overflow-y: auto;
    margin-top: 5px;
}

.select-master {
    width: 150px;
}
.master-switch {
    margin-left: 30px;
}

.edit-item-button {
    min-width: 40px;
}
.device-name {
    min-width: 100px;
}
.device-state-on {
    background-color: blue;
}
.device-state-off {
    background-color: green;
}
.device-state-unknown {
    background-color: gray;
}