.info {
    margin: 10px;
}
.info-half {
    display: inline-block;
    width: 50%;
    max-width: 50%;
    vertical-align: middle;
    &.notext {
        white-space: nowrap
    }
}
.footer-half {
    display: inline-block;
    width: 50%;
    max-width: 50%;
    vertical-align: middle;
    text-align: center;
}