<form novalidate #form="ngForm" (ngSubmit)="form.valid && submit()">

  <div class="info">
    <mat-form-field>
      <input matInput [(ngModel)]="info.name" name="name" required />
      <mat-error>le nom est
        <strong>requis</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="info">
    <span class="info-half-text">
      dispositifs à commander:
    </span>
    <span class="info-half notext">
      {{info.nbItems}}
      <mat-slider (input)="info.nbItems=$event.value" [value]="info.nbItems" name="nbItems" [max]="maxNbElements" min="1" step="1"
        tickInterval="1">
      </mat-slider>
    </span>
  </div>

  <div class="info">
    <app-duration-slider [(seconds)]="info.itemDurationSeconds"></app-duration-slider>
  </div>

  <div class="info">
    <mat-checkbox [(ngModel)]="info.insertPause" name="insertPause">
      pause après chaque élément</mat-checkbox>
  </div>
  <div class="info" *ngIf="info.insertPause">
    <app-duration-slider [(seconds)]="info.pauseDurationSeconds"></app-duration-slider>
  </div>

  <div class="info">
    <div class="info-half">
      durée totale
      <div>{{info.totalSeconds|secondsToHMMSS}}</div>
    </div>
    <div class="info-half" *ngIf="info.insertPause">
      durée hors pauses
      <div>{{info.totalNoPause|secondsToHMMSS}}</div>
    </div>
  </div>

  <mat-dialog-actions class="footer">
    <div class="footer-half">
      <button mat-raised-button mat-dialog-close>Annuler</button>
    </div>
    <div class="footer-half">
      <button mat-raised-button type="submit" [disabled]="!form.valid">Créer</button>
    </div>
  </mat-dialog-actions>

</form>