<div *ngIf="connecting">
    connexion...
</div>
<div *ngIf="isReady">
    <mat-form-field class="select-active-sequence">
        <mat-select matInput [(ngModel)]="activeSequence" placeholder="séquence active"
            [disabled]="locked"
            (ngModelChange)="activeSequenceChanged($event)">
            <mat-option [value]="null">Aucune</mat-option>
            <mat-option *ngFor="let s of sequences" [value]="s">{{s.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-slide-toggle class="lock" [(ngModel)]="locked" (change)="setLocked($event.checked)">
        <span *ngIf="locked"><i class="material-icons">lock</i></span>
        <span *ngIf="!locked"><i class="material-icons">lock_open</i></span>
    </mat-slide-toggle>
    
    <div *ngIf="status && !status.ready">
        serveur en cours de démarrage
    </div>
    <div *ngIf="status && status.disposed">
        serveur en cours d'arrêt
    </div>
    <div *ngIf="status && status.ready && !status.disposed">
        <div class="status-info">
            <span class="poll-indicator">
                <i *ngIf="showPoll" [class.serverTimeout]="serverTimeout" class="material-icons">favorite</i>
                <i *ngIf="!showPoll" class="material-icons">favorite_border</i>
            </span>
            il est 
            {{ formatHHmm(status.time) }}
        </div>
        <div *ngIf="status.sequenceId">
            <div *ngIf="status.started">
                <div class="status-info">
                    démarrée à 
                    {{ formatHHmm(status.started) }}
                </div>
                <div *ngIf="seqNbCycles>1" class="status-info">
                    cycle {{ status.curCycle }} / {{ seqNbCycles }}
                </div>
            </div>
            <div *ngIf="status.curItem" class="status-info">
                en cours : 
                {{ getInfo(status.curItem, 'name') }}
                {{ getInfo(status.curItem, 'until') }} 
                {{ getInfo(status.curItem, 'end') }}
            </div>
            <div *ngIf="status.nextItem" class="status-info">
                prochain : 
                {{ getInfo(status.nextItem, 'name') }}
                {{ getInfo(status.nextItem, 'at') }} 
                {{ getInfo(status.nextItem, 'start') }}
            </div>
        </div>
    </div>
</div>