:host {
    text-align: center;
    padding: 10px;
}

.is-auto {
    color: skyblue;
}

.lock {
    margin-left: 20px;
}

.poll-indicator i {
    font-size: 12px;
    &.serverTimeout {
        color: red;
    }
}