:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}
header, footer {
  text-align: center;
  .mat-dialog-actions.footer {
    display: unset;
  }
}
.content {
  flex: 1 1 100%;
  overflow-y: auto;
  margin-top: 5px;
}

.slider-start-time {
  width: 200px;
}

.seq-infos {
  display: flex;
  text-align: center;
  &.seq-time {
    padding: 8px;
  }
  .seq-info {
    flex-grow: 1;
    flex-basis: 0;
    .seq-toolong {
      color: #c2185b;
    }   
  } 
}
.mat-header-row, .mat-row {
  padding: 0;
}
.edit-item-button {
  min-width: 40px;
  width: 40px;
  padding: 0;
}
