<header *ngIf="seq">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-form-field>
            <input matInput name="name" [(ngModel)]="seq.name" required
            (ngModelChange)="setName($event)"
            (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()"
            [disabled]="isActive" />
            <mat-error>le nom est<strong>requis</strong></mat-error>
        </mat-form-field>
    </mat-expansion-panel-header>
    <div class="seq-infos">
      <div class="seq-info">
        début: {{seq.startTime}}
        <mat-slider min="0" [max]="seqStartTimeMaxMinutes" [step]="seqStartTimeStepMinutes" [tickInterval]="seqStartTimeTickInterval" class="slider-start-time"
          [value]="hhmmToMinutes(seq.startTime)" 
          (input)="setStartTimeSeconds($event.value)"
          [disabled]="isActive">
        </mat-slider>
      </div>
      <div class="seq-info">
        cycles: {{seq.repeat}}
        <mat-slider [max]="cyclesIndices.length" min="1" step="1" tickInterval="1"
          [value]="seq.repeat"
          (input)="setRepeat($event.value)"
          [disabled]="isActive">
        </mat-slider>
      </div>
    </div>
    <div class="seq-infos seq-time">
      <div class="seq-info">
        durée cycle
        <div>{{seq.cycleSeconds|secondsToHMMSS}}</div>
      </div>
      <div class="seq-info">
        durée totale
        <div>{{seq.totalSeconds|secondsToHMMSS}}</div>
      </div>
      <div class="seq-info">
        fin
        <div>
          {{seq.endTime}}
          <span *ngIf="seq.isLongerThan24h" class="seq-toolong">chevauchement</span>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</header>
<section class="content" *ngIf="seq">
  <mat-table class="items-table" [dataSource]="datasource">
      <ng-container matColumnDef="num">
          <mat-header-cell *matHeaderCellDef> Num </mat-header-cell>
          <mat-cell *matCellDef="let it"> 
            <button mat-raised-button color="primary" class="edit-item-button"
            (click)="editItemClicked(it)">
              {{ 1 + items.indexOf(it) }} 
            </button>
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="nom">
          <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
          <mat-cell *matCellDef="let it"> {{it.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="device">
          <mat-header-cell *matHeaderCellDef> Relais </mat-header-cell>
          <mat-cell *matCellDef="let it"> {{it.device?.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="duree">
          <mat-header-cell *matHeaderCellDef> Durée </mat-header-cell>
          <mat-cell *matCellDef="let it"> {{it.durationSeconds | secondsToMMSS }}</mat-cell>
      </ng-container>
      <ng-container *ngFor="let ci of cyclesIndices" [matColumnDef]="'cycle'+(ci+1)">
          <mat-header-cell *matHeaderCellDef> Cycle {{ci+1}} </mat-header-cell>
          <mat-cell *matCellDef="let it"> {{ cycleTime(it,ci) }} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let item; columns: columnsToDisplay"></mat-row>
  </mat-table>
</section>
<footer *ngIf="seq">
    <mat-dialog-actions class="footer">
        <button *ngIf="!isActive" mat-raised-button (click)="addItemClicked()">
          Ajouter un élément</button>
    </mat-dialog-actions>
</footer>