<div *ngIf="connecting">
    connexion...
</div>
<div *ngIf="isReady">
  <ul>
    <li *ngIf="sysInfo">
        <p>version : {{ sysInfo.build }} </p>
        <p>raspberry pi : {{ sysInfo.board }} </p>
        <p>i2c : <app-yes-no [value]="sysInfo.i2cEnabled"></app-yes-no></p>
        <p>pld : <app-yes-no [value]="sysInfo.pldEnabled"></app-yes-no></p>
    </li>
    <li>
        <button mat-raised-button (click)="setSystemTimeClicked()">
            <i class="material-icons">access_time</i>
            Ajuster l'heure
        </button>
    </li>
    <li>
        <button mat-raised-button (click)="shutdownClicked()">
            <i class="material-icons">settings_power</i>
            Eteindre le système
        </button>
    </li>
    <li *ngIf="showSimulatePowerLoss">
        <button mat-raised-button (click)="simulatePowerLossClicked()">
            <i class="material-icons">power_off</i>
            Simuler une panne de courant
        </button>
    </li>
    <!-- <li>
        <button mat-raised-button color="primary" (click)="onSetTheme('default-theme')">Default</button>
        <button mat-raised-button color="primary" (click)="onSetTheme('dark-theme')">Dark</button>
        <button mat-raised-button color="primary" (click)="onSetTheme('light-theme')">Light</button>
    </li> -->
  </ul>
</div>
