<div class="duration">
  <mat-form-field class="duration-field">
      <input readonly matInput name="time" [ngModel]="time" 
      [placeholder]="placeholder" />
  </mat-form-field>
  <mat-slider class="duration-slider" matInput name="seconds" 
      [(ngModel)]="seconds" 
      [max]="secondsMax" [min]="secondsMin" [tickInterval]="tickIntervalSeconds"
      [step]="stepSeconds" (input)="secondsMoved($event)" [disabled]="disabled">
  </mat-slider>
</div>