<mat-toolbar color="primary">
  <a mat-button [routerLink]="['/']" class="links" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <i class="material-icons" [ngClass]="{'auto':isAuto, 'manual':!isAuto}">nature</i>
    Auto
  </a>
  <a mat-button [routerLink]="['/devices']" class="links" 
    routerLinkActive="active" [disabled]="manualDisabled" [ngClass]="{'link-disabled':manualDisabled}">Manuel</a>
  <a mat-button [routerLink]="['/sequences']" class="links" 
    routerLinkActive="active">Séquences</a>
    <a mat-button [routerLink]="['/tools']" class="links" 
    routerLinkActive="active"><i class="material-icons">settings</i></a>
</mat-toolbar>
<router-outlet></router-outlet>