:host { 
    height: 100%; 
    display: flex; 
    flex-direction: column;
}
a {
  color: white; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center;

  &.active { 
    font-weight: bold;
    > div.mat-button-focus-overlay {
      opacity: 1 !important;
    }
  }

  &.link-disabled {
    cursor: disabled;
    pointer-events: none;
  }
}
.logo-text{
  font-size: 20px; 
  font-weight: bold; 
  padding: 10px;
}
.links
{
    padding: 15px;
    font-size: 15px; 
    font-weight: initial; 
}
.auto {
  color: skyblue;
}
.manual {
  color: gray;
}

.cdk-overlay-container { //(attempt) for https://github.com/angular/material2/issues/10530
  pointer-events: auto !important;
}
.expansion-panel-header { //ios safari zooms when font size < 16px
  font-size: 16px !important;
}
@media (max-width: 599px) {
  .mat-toolbar-row, .mat-toolbar-single-row { //smaller toolbar on mobile
    height: 48px !important;
  }
}