.itemEditOverlay > .mat-dialog-container {
    max-width: none;
}
.mat-dialog-actions {
    flex-wrap: nowrap;
}

.mat-select {
    min-width: 150px;
}
        
.mat-form-field {
    width: 100px;
}

.itemInfo {
    width: 100%;
}

.reserved {
    color: gray;
}
