<h2 mat-dialog-title *ngIf="isNew">Nouvel élément</h2>
<h2 mat-dialog-title *ngIf="!isNew">Elément de séquence</h2>
<form novalidate #form="ngForm" (ngSubmit)="form.valid && submit()">
    <mat-dialog-content>
        <div>
            <mat-form-field>
                <input matInput name="name" [(ngModel)]="item.name" required placeholder="Nom" 
                [readonly]="!item.device" />
                <mat-error>un nom est requis</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-select matInput name="device" placeholder="dispositif"
                    [disabled]="isActive" 
                    [(ngModel)]="item.device"
                    (ngModelChange)="deviceSelected($event)"
                    appValidSelectedDevice #device="ngModel" [errorStateMatcher]="matcher">
                    <mat-option>(aucun)</mat-option>
                    <mat-option *ngFor="let d of devices" [value]="d" [disabled]="!d.isValidForSequence">{{ d.name }}</mat-option>
                </mat-select>
                <mat-error *ngIf="device.errors && device.errors.reserved">réservé</mat-error>
                <mat-error *ngIf="device.errors && device.errors.dead">désactivé</mat-error>
            </mat-form-field>
        </div>
        <div>
            <app-duration-slider 
                [(seconds)]="item.durationSeconds"
                [disabled]="isActive"
            ></app-duration-slider>
        </div>
        <div>
            <mat-form-field class="itemInfo">
                <textarea matInput name="info" 
                    [(ngModel)]="item.info" 
                    placeholder="Info"
                    ></textarea>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-select matInput name="index" [(value)]="itemIndex" required 
                    placeholder="position" [disabled]="isActive">
                    <mat-option *ngFor="let i of indices" [value]="i">
                        {{ i + 1 }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button type="button" *ngIf="canDelete" (click)="delete()">Supprimer</button>
        <button mat-button mat-dialog-close>Annuler</button>
        <button mat-raised-button type="submit" [disabled]="!form.valid">OK</button>
    </mat-dialog-actions>
</form>