@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import './variables';
@import './mixins';
@import './materialicons';
//@import './theme';
html, body {
    height: 100vh;
    margin: 0;
    background-color: #303030;
    color: white;
    font-family: Roboto, 'Helvetica Neue', sans-serif; 
}